apiVersion: v1
kind: Service
metadata:
  name: "{{ ansible_operator_meta.name }}"
  namespace: "{{ ansible_operator_meta.namespace }}"
{% if labels.keys()|length > 0 %}
  labels: "{{ labels }}"
{% endif %}
{% if annotations.keys()|length > 0 %}
  annotations: "{{ annotations }}"
{% endif %}
spec:
{% if selector.keys()|length > 0 %}
  selector: "{{ selector }}"
{% endif %}
  type: NodePort
  ports:
  {% for item in reserved_ports %}
- name: {{ item.name }}
    nodePort: {{ item.nodePort|int }}
    port: {{ item.port|int }}
    protocol: {{ item.protocol|upper }}
  {% endfor %}
