apiVersion: v1
kind: Service
metadata:
  name: {{ ansible_operator_meta.name }}
  namespace: {{ ansible_operator_meta.namespace }}
{% if labels.keys()|length > 0 %}
  labels: {{ labels|from_yaml }}
{% endif %}
{% if annotations.keys()|length > 0 %}
  annotations: {{ annotations|from_yaml }}
{% endif %}
spec:
{% if selector.keys()|length > 0 %}
  selector: {{ selector|from_yaml }}
{% endif %}
  type: NodePort
  ports: {{ service_ports|from_yaml }}
